@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* .contentChat{
height:300px;
width:200px;
border:1px solid black;
} */
 
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
    /* background:#822659; */
    /* background-image:url("./assets/fondo3.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat; */
    background-color: rgba(255, 192, 211, 0.2);
    height:100vh;

}
.portada{
    background-image:url("./assets/fondo.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    width: 50%;
    height: 100vh;
}
.imgLogo{
    width: 50px;
    height: 50px;
}
.slogan{
    display: flex;
    flex-direction: column;
    color: #822659;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgb(0 0 0 / 50%);
    font-family: 'Raleway', sans-serif;
    margin: 15% 20%;
}
.title{
    display: none !important;
}
.line{
    margin-top: 25%;
    margin-right: 40px;
}
hr {
    margin-left: 30%;
    width: 50%;
    background-color: white;
  }
.link{
    margin: 0 5px 0 20px;
    color: #822659;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
}
.lockLogo{
    position: absolute;
    top: 0;
    right: 0;
}
.pinkword{
    /* color: #F588B0; */
    color: #0D1C3C;
}
#pinkword{
    color: #F588B0;
    font-size: 40px;
}
    .sectionLogin{
        padding-top:100px;
        height:100vh;
    }
    .sectionLogin .divLogin{
        max-width:350px;
        background-color:#d4eaed63;
        border-radius:20px;
    }
    .linkContrase単a{
        font-weight: bold;
        font-size:14px;
        margin-right: 38px !important;
        color: #F588B0;
        cursor: pointer;
        /* text-shadow: 1px 1px 1px rgb(41, 39, 39); */
    }
    .linkContrase単a:hover{
        /* color:#812056; */
        color: #812056;
        text-shadow: none;
    }
    .btnLogin{
        background:#FFBCD1;
        color:#822659;
        box-shadow:2px 4px 4px #812056;
        border-radius:10px;
        font-size:16px;
    }
    .inputLogin{
        border-radius:10px;
        box-shadow:2px 4px 4px #812056;
        width: 350px;
        height: 40px;
    }
    .inputLogin::placeholder{
            color:#822659;
    }
    .corner-one {
        position: absolute;
        top:0px;
        left:0px;
        z-index:-10;
    }
    .corner-two {
        position: absolute;
        bottom: 0px;
        right:0px;
        z-index:-10;
    }
    h2 {
        color:#FFFFFF;
        text-shadow:5px 5px 2px #801e54;
        font-size:60px;
        font-family: 'Architects Daughter', cursive;
    }
    .canal {
        background-image:url("./assets/fondo.png");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        width: 100vw;
        height: 100vh;
        font-family: 'Raleway', sans-serif;
        color: #212121;
        display: grid;
        }
    .joinChatContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 50px;
        padding-top: 178px;
    }
/*     .joinChatContainer h3 {
        font-size:60px;
        margin-bottom: 1rem;
        color:#FFD2Ee;
        font-family: 'Architects Daughter', cursive;
    } */

    .banner{
        background-color: #F4E4F1;
        height: 100%;
    }
    .chat-window {
       /*  width: 300px; */
        width: 100%;
        height: 92vh;
        /* height: 420px;
        margin: auto;
        margin-top: 100px; */
    }
    .chat-window p {
        margin: 0;
    }
    .chat-window .chat-header {
        height: 8%;
        border-radius: 6px;
        background: #FFFFFF;
        position: relative;
        cursor: pointer;
        /*  */
        padding:0 20px;
    }
    .chat-window .chat-header p {
        display: block;
        /* padding: 0 1em 0 2em; */
        color: #3E5077;
        font-weight: 700;
        line-height: 45px;
    }
    .chat-window .chat-body {/* 
        height: calc(450px - (45px + 70px)); */
        height: 82%;/* 
        border: 1px solid #1d070e; */
        /* background-image:url("./assets/fondo3.jpg"); */
        background: #FFD2E0;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        background-image: url('./assets/bg-chat.png');
        position: relative;
    }
    .chat-window .chat-body .message-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .chat-window .chat-body .message-container::-webkit-scrollbar {
        display: none;
    }
    .chat-window .chat-body .message {
        height: auto;
        padding: 10px;
        display: flex;
    }
    .chat-window .chat-body .message .message-content {
        width: auto;
        height: auto;
        min-height: 40px;
        max-width: 500px;
        background-color: #655D8A;
       /*  text-shadow:1px 1px 1px black; */
        box-shadow: 2px 2px 2px white;
        border-radius: 0px 50px 50px 20px;
        color: white;
        display: flex;
        align-items: center;
        margin-right: 5px;
        margin-left: 5px;
        padding-right: 5px;
        padding-left: 5px;
        overflow-wrap: break-word;
        word-break: break-word;
    }
    #you {
        justify-content: flex-start;
    }
    #you .message-content {
        justify-content: flex-start;
    }
    #you .message-meta {
        justify-content: flex-start;
        margin-left: 5px;
    }
    #other {
        justify-content: flex-end;
    }
    #other .message-content {
        justify-content: flex-end;
        background-color: #338DAC;
        border-radius: 50px 0 20px 50px;
    }
    #other .message-meta {
        justify-content: flex-end;
        margin-right: 5px;
    }
    .message-meta #author {
        margin-left: 10px;
    }
    .chat-window .chat-body .message .message-meta {
        display: flex;
        font-size: 12px;
    }
    .chat-window .chat-footer {/* 
        height: 40px; */
        height: 10%;
        border: 1px solid #cdedfd;
        border-top: none;
        display: flex;
    }
    .chat-window .chat-footer input {
        height: 100%;
        flex: 85%;
        border: 0;
        padding: 0 0.7em;
        font-size: 1em;
        border-right: 1px dotted #607d8b;
        outline: none;
        font-family: "Open Sans", sans-serif;
    }
    .chat-window .chat-footer button {
        border: 0;
        display: grid;
        place-items: center;
        cursor: pointer;
        flex: 15%;
        height: 100%;
        background: #1d070e;
        outline: none;
        font-size: 25px;
        color: #fac7e3;
    }
    .chat-window .chat-footer button:hover {
        color: #fac7e3;
    }
    .hide {
        opacity: 0 !important;
    }
    .inputMessage::placeholder{
        color: #1d070e;
    }
    .colorUserName{
        color: #070707;
        font-family:arial;
    }
    .colorUserName2{
        color: #0c0c0c;
        font-family:arial;
    }
    .gif {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    #miModal{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-contenido {
        background-color: white;
        width: 300px;
        height: 150px;
        padding: 10px 20px;
        margin: 0;
        position: relative;
        opacity: 1;
        pointer-events: auto;
        border-radius: 15px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .modal-success {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 1s;
        z-index: -2;
    }
    
    .show-modal {
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.75);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        pointer-events: none;
        z-index: 100;
    }
    
    /* Contactos */
    .sectionContact {
        /* border-radius: 40px 40px 0 0; 
        background-image: url('./assets/fondo3.jpg');*/
        
        background-image: url('./assets/bg-contact.png');
        opacity: 0.8;/* 
        height: 100vh; */
        height: 100%;
        /*  */
        display: flex;
       /*  padding: 30px; */
        font-family: 'Arial', sans-serif;
    }
    .divContacts {
        background-color: rgba(255, 255, 255, 0.4);
        margin: 2%;
        width: 21%;/* 
        height: 78vh; */
        border-radius: 40px;
    }
    .paddingNav {
        padding-left: 20px !important;
    }
    .bg-purple{
        background-color: #822659;
    }
    .bg-pink {
        background-color: #D885A3;
    }
    .menu{
        color: white;
        font-size: 18px;
    }
    .nav-link:focus, .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
        border-radius: 20px;
    }
    .navbarChat {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        justify-content: space-evenly;
    }
    .text-chat{
        color: #0D1C3C;
        /* text-shadow: 1px 1px 1px #bbb6b9; */
        font-size: 18px;
    }
    .bg-navBar{
        background-color: rgba(255, 255, 255, 0.8);
    }
    .img-talktech{
        padding-left: 10px;
    }
    .modal-contact {
        background-color: white;
        width: 300px;
        height: 120px;
        margin: 0;
        padding: 15px 20px 0px 20px;
        position: relative;
        opacity: 1;
        pointer-events: auto;
        border-radius: 15px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    a{
        text-decoration: none;
        color: white;
    }

    /* Profile*/
    .imgUser {
        position: relative;
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        margin: auto;
    }
    .img-profile{
        object-fit: fill;
    }

    .inputImgUser {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #fichero{
        display: none;
    }

    .circle{
        display: inline-block;
        background-color: #D885A3;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }




      
      .nav-responsive{
          display: none;
      }
      
      .modal-chat{
          width: 75%;
      }
      
      .bodyNav{
        height: 92vh;
    }
    .pruebaaaa{
        height: 8vh;
    }
    .z100{
        z-index:100;
    }
    .minHeight{
        min-height: 8vh;
    }
      @media (max-width: 950px) {
        .divContacts{
            width: 26%;
        }
        .modal-chat{
            width: 70%;
        }
        .chat-window .chat-body .message .message-content{
            max-width: 350px;
        }
      }
   
      @media (max-width: 600px) {
        body {
            background-image:url("./assets/fondo.png");
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat;
        }
        .portada{
            display: none;
        }
        .lockLogo{
            display: none !important;
        }
        .inputLogin{
            border-radius:10px;
            box-shadow:2px 4px 4px #812056;
            width: 250px;
            height: 30px;
        }
        .formulario{
            background-color:#d4eaed63;
            padding: 0 5% 5% 5%;
            border-radius: 20px;
        }
        .title{
            display: block !important;
            text-shadow: 1px 1px 1px rgb(41, 39, 39);
        }
        .imgLogo{
            display: none;
        }
        .pinkword, .linkContrase単a{
            color: #FFD2E0 !important;
            text-shadow: 1px 1px 1px rgb(41, 39, 39);
        }
        .linkContrase単a:hover{
            /* color:#812056; */
            color: #812056;
            text-shadow: none;
        }
      }
    
      @media (max-width: 750px) {
        .divContacts{
            width: 31%;
        }
        .modal-chat{
            width: 65%;
        }
        .chat-window .chat-body .message .message-content{
            max-width: 250px;
            
        }
      }
      @media (max-width: 600px) {
        .banner{
            display: none !important;
        }
        .nav-responsive{
            display: block;
        }
        .chat-window{
            border-radius: 20px 20px 0 0;
            height: 85vh;
        }
        .chat-window .chat-header {
            border-radius: 20px 20px 0 0;
        }
        .sectionContact{
            flex-direction: column;
        }
        .divContacts{
            width: 96%;
            height: 96%;
        }
        .modal-chat{
            width: 100%;
            position: absolute;
        }
        .bodyNav{
            height: 85vh;
        }
        .chat-window{
            height: 85vh;
        }
      }
     
